.footer{
    background-color: var(--black);
    padding: 5rem;
    margin-top: 5rem;
}
.copyright{
    font-size: 1rem;
    color: var(--white);
    font-weight: 900;
    text-align: center;
}

@media (min-width: 768px){
    .contenido{
        display: flex;
        justify-content: space-between;
    }
    .copyright{
        font-size: 2rem;
    }
}
